
h2 {
  color: rgb(240, 61, 126);
  font-size: 20px;
  text-align: center;
  margin-top: 120px; /* Estilo general para h2 */
}

.titulo-principal{
  color: rgb(240, 61, 126);
  font-size: 20px;
  text-align: center; 
  margin-top: 120px;
  margin-left: 80px;
}

body{
    background-color: rgb(0, 17, 43);
}

.imagen-container {
  max-width: 120%; /* La imagen no será más ancha que su contenedor */
  height: auto; /* Mantiene la proporción */
  display: block; /* Elimina espacios blancos alrededor de la imagen */
  margin: 0 auto; /* Centra la imagen dentro del contenedor */
  text-align: center; /* Centra la imagen horizontalmente */
  margin-top: 20px;
}

button {
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }
  
  .tex {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ajusta el contenedor para ocupar toda la pantalla */
  }

  .imagen-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-bottom: -340px; /* Espacio entre la imagen y el botón */
}

.imagen {
    width: 400px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene las proporciones de la imagen */
    border-radius: 8px; /* Bordes redondeados, opcional */
}

/* Estilos para principal.html */

h2{
  color: rgb(213, 155, 255);
  font-size: 30px;
  text-align: center; 
  margin-top: -60px;
}

.imagen-carta {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-top: 40px;
  margin-left: -60px;
}



/* Estilos html segundo*/

body.nuevo-fondo {
  background-color: rgb(0, 17, 43); /* Nuevo color de fondo */
}

.imagen-rosado {
  text-align: center; /* Centra la imagen horizontalmente */
  margin-top: 10px;
}

.rosado {
  width: 350px; /* Ajusta el tamaño de la imagen */
  height: auto; /* Mantiene las proporciones de la imagen */
  border-radius: 8px; /* Bordes redondeados, opcional */
}

/* Esto es un comentario*/

  /* Esto es un comentario*/